<h1>Tag: <%= @tag.name %></h1>

<ul>
  <% @tag.posts.each do |post| %>
  <li><a href="/posts/<%=post.id%>"><%=post.author%>: <%=post.title%></a></li>
  <% end %>
</ul>

<p><a href="/tags">Return to main tag page</a></p>

<p><a href="/posts">Return to main posts page</a></p>
