<h1>Posts tagged with: <%= @tag.name %></h1>

<ul>
  <% @tag.posts.each do |post| %>
  <li><a href="/posts/<%=post.id%>"><%=post.author%>: <%=post.title%></a></li>
  <% end %>
</ul>

<p><a href="/tags">Browse tags</a></p>

<p><a href="/posts">Return to main posts page</a></p>
