/*custom_stylesheet.css*/
body{
	background-color: teal;
}
.container {
	background-color: cornsilk;
	margin: auto;
	padding: 40px;
}
table {
	background-color: white;
}
blockquote {
	background-color: white;
}
button {
	margin: 5px;
}